<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Trial Management System </title>
        <link rel="stylesheet" href="{% static 'enrollapp/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'enrollapp/css/style.css' %}">
        
    </head>
    <body>
        <div class ="navigation">
            {% block navbar%}
                {%include 'enrollapp/navbar.html'%}
            {% endblock navbar%}
        </div>
        
        <div class="container mt-10">
            <div class="row">
                <div class="col-sm-12">
                    {%block msg%}
                    {%endblock%}
                </div>
            </div>
            <div class="row m-5">
                {% block side %}
                {% endblock side %}

                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <script src="{% static 'enrollapp/js/custom.js'%}"></script>
        <script src="{% static 'enrollapp/js/jquery.js' %}"></script>
        <script src="{% static 'enrollapp/js/popper.js' %}"></script>
        <script src="{% static 'enrollapp/js/bootstrap.js' %}"></script>
    </body>
</html>