{% extends 'enrollapp/base.html' %}
{% load static%}
{% if user.is_authenticated %}
{%block content%}
        <div class="col-sm-6">
            <h4 class="text-center alert alert-success"> {{user.username}}'s Training Record </h4>
            {% if training%}
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% comment %} <th scope="col"> ID</th> {% endcomment %}
                        <th scope="col">Training Name </th>
                        <th scope="col">Date of Completion </th>
                    </tr>
                </thead>
                <tbody>
                    {% for tr in training%}
                    <tr>
                        {% comment %} <td scope="row">{{tr.id}}</td> {% endcomment %}
                        <td scope="row">{{tr.training_id}}</td>
                        <td scope="row">{{tr.completed_on}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
         <p> No Training Record yet </p>
        {% endif %}
        </div>
        <div class="col-sm-6">
            <h4 class="text-center alert alert-info"> Suggested Training </h4>
            {% if courses%}
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% comment %} <th scope="col"> ID</th> {% endcomment %}
                        <th scope="col">Training Name </th>
                        <th scope="col">List of Group </th>
                        <th scope="col">Course Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for crse in courses%}
                    <tr>
                        {% comment %} <td scope="row">{{crse.id}}</td> {% endcomment %}
                        <td scope="row">{{crse.course_id}}</td>
                        <td scope="row">{{crse.course_group_id}}</td>
                        <td scope="row"><a href="{{crse.course_id.course_link}}" target="_blank">Coures Link</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    
{% endblock content%}
{%endif%}

