{% extends 'enrollapp/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12 justify-content-center">
        <h1> Profile Page </h1>
        <br/>
        {% if messages %}
            {% for message in messages %}
                <small class="{{message.tags}}"> {{message}} </small>
            {% endfor %}
        {% endif %}
        <br>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {%for error in form.non_field_errors %}
                    <p class="Er"> {{error}} </p>
                {%endfor%}
            {% endif %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            {% endfor %}
            <center>
                <input class="btn btn-sm btn-secondary" type="submit" value="Save">
                <a class="btn btn-sm btn-secondary" href={% url 'changepass' %}>Change Password </a>
            </center>
        </form>
        <br>
        
    </div>
</div>
{% endblock content %}