{% extends 'enrollapp/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1> Login </h1>
        <br/>
        
        {% if messages %}
            {% for message in messages %}
                <small class="{{message.tags}}"> {{message}} </small>
            {% endfor %}
        {% endif %}
        <br/>
        <form action ="" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {%for error in form.non_field_errors %}
                    <p class="Er"> {{error}} </p>
                {%endfor%}
            {% endif %}
            <br>
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            {% endfor %}
            <center>
            <input class="btn btn-sm btn-secondary" type="submit" value="Login">
            <a class="btn btn-sm btn-secondary" href="{% url 'login'%}">Cancel</a>
            </center>
            {% comment %} <a href={% url 'setpass' %}>Forgot Password </a> {% endcomment %}
            {% comment %} <a href="{% url 'signup' %}">SignUp</a> {% endcomment %}
        </form>
    </div>
</div>
{% endblock content %}