{% extends 'enrollapp/base.html' %}
{% block content %}
    <div class = "row">
        <div class ="col-sm-5">
        {% if users != None %}
            <h3> List of Users </h3>
            {% for user in users %}
                <a href="{% url 'showuserdetail' user.id %}"> {{user.username}} </a><br/>
            {%endfor%}
        {% endif%}
        </div>
        <div class="col-sm-7">
            <h1> User Profile </h1>
            <br/>
            {% if messages %}
                {% for message in messages %}
                    <small class="{{message.tags}}"> {{message}} </small>
                {% endfor %}
            {% endif %}
            <br>
            {% if form %}
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    {%for error in form.non_field_errors %}
                        <p class="Er"> {{error}} </p>
                    {%endfor%}
                {% endif %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
                {% endfor %}
                <center>
                    <input class="btn btn-sm btn-secondary" type="submit" value="Save">
                </center>
                </form> 
            {% elif users != None %}
                Please select user name from the list of the left side bar
            {% else %}
                No Data
            {%endif%}
        </div>
    </div>
{% endblock content %}