{% extends 'enrollapp/base.html' %}
{%block side %}
    <div class = "row">
        <div class ="col-sm-3">
        {% if users != None %}
            <h3> List of Users </h3>
            {% for user in users %}
                <a href="{% url 'showuserdetail' user.id %}"> {{user.username}} </a><br/>
            {%endfor%}
        {% endif%}
        </div>
    </div>
{% endblock side%}
{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h1> User Profile </h1>
            {% if form %}
                <form action="" method="post">
                {{form.as_p}}
                </form> 
            {% else %}
                No Data
            {%endif%}
            <a href={% url 'profile' %}>Back to my Profile</a>
        </div>
    </div>
{% endblock content %}