
{% comment %} 
<label> Training ID</label>

{{ pi }}
{{ id }}
{{ id.course_id }}
{{user.username}}
{{form.as_p}} {% endcomment %}


<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Add Training Record </title>
    </head>
    <body>
        <div class = "row">
            <h4 class="text-center alert alert-info"> Save Training Record </h4>
            {% if syllabus%}
                <div class="col-sm-8">
                    {% if messages %}
                        {% for message in messages %}
                            <small class="{{message.tags}}"> {{message}} </small>
                        {% endfor %}
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>
                                    <p>Course: {{syllabus}}</p>
                                </td>
                            </tr>                            
                            <tr>
                               
                                {% comment %} <td><input type="date" name="completed_on" default:date.now ></td> {% endcomment %}
                                <td>{{form.as_p}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"> <center>
                                    <input type="submit" name="SaveTraining" value="Save Training Record">
                                </center>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <a href="{% url 'show_availtraining'%}"> Go back to the list of Training<a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            {%else %}
                <h4> No Records TEST!<h4>
            {%endif%}
        </div>
    </body>
</html>
