{% extends 'enrollapp/base.html' %}
{%block msg%}
<br/>
        {% if messages %}
        {% for message in messages %}
                <small class="{{message.tags}}"> {{message}} </small>
            {% endfor %}
        {% endif %}
        <br>
{%endblock msg%}
{% block content %}

    <div class="col-sm-6 offset-2 mt-5">
        <h4 class="text-center alert alert-info"> Update {{user.username}}'s Training Record </h4>
        
        {% if training %}
            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <td>ID: {{training.id}}</td>
                    </tr>
                    <tr>
                        <td>Course: {{training.training_id}}</td>
                    </tr>
                    <tr>
                        <td>{{form.as_p}}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><center><input type="submit" class="btn btn-success" value="Update">
                            {% comment %} <a href="{% url 'add_training' training.training_id.id %}" class="btn btn-info">Back</a></center></td> {% endcomment %}
                            {% comment %} <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-info">Back</a></center> {% endcomment %}
                            <a href="javascript:history.go(-1)" class="btn btn-info">Back</a></center>
                    </tr>
                </table>
            </form>
        {%else%}
            <p> No Records Available!! </p>
        {% endif %}
        
    </div>

{% endblock content %}
