{% extends 'enrollapp/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-3 ">
        <h4 class="text-center alert alert-info"> Add Syllabus Details </h4>
        <br/>
        {% if messages %}
            {% for message in messages %}
                <small class="{{message.tags}}"> {{message}} </small>
            {% endfor %}
        {% endif %}
        <br>
        <form action="" method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    <div class="col-sm-9">
        <h4 class="text-center alert alert-info"> Show Available Course Details </h4>
        {% if syllabus %}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Course Group</th>
                        <th scope="col">Interval Pace</th>
                        <th scope="col">Mandatory?</th>
                        <th scope="col">Link</th>
                        <th scope="col" colspan="2" style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sylbus in syllabus %}
                        <tr>
                            <td scope="row">{{sylbus.id}}</td>
                            <td>{{sylbus.course_id}} </td>
                            <td>{{sylbus.course_group_id}}</td>
                            <td>{{sylbus.get_course_interval_display}}</td>
                            <td>{{sylbus.course_mandatory}}</td>
                            <td><a href="{{sylbus.course_id.course_link}}" target="_blank">Course Link</a></td>
                            <td>
                                <a href="{% url 'update_syllabus' sylbus.id %}" class="btn btn-warning btn-sm">Edit</a>
                            </td>
                            <td>
                                <form action="{% url 'delete_syllabus' sylbus.id %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-danger btn-sm" onclick='confirm("Are you sure to delete this record?")' value="Delete">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
          </table>
        {%else%}
            <h4 class="text-center alert alert-warning"> No Records</h4>
        {% endif %}
    </div>

</div>


{% endblock content %}